.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.pagination .pagination_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #eee;
  font-size: 1.125rem;
  margin: 0 0.3rem;
}

.pagination_item.active {
  background-color: #ddd;
}

.post_list {
  cursor: pointer;
}

.list_item {
}

.post_list .list_item {
}
