.form {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .title {
  width: 100%;
  text-align: left;
  padding: 2rem 1rem;
  border: 0;
  border-bottom: 1px solid #eee;
  font-size: 1.5rem;
  outline: 0;
}

.form .textarea {
  width: 100%;
  flex: 1;
  border: 0;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.125rem;
  outline: 0;
  font-family: inherit;
}

.form button {
  cursor: pointer;
}
