h2 {
  font-size: 50px;
}

span {
  padding: 0 20px;
}

.BoardView {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.BoardView .board-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

.BoardView .board-header span {
  padding: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.BoardView .board-header span:hover {
  background-color: #eee;
}

.BoardView .board-header h2 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.BoardView .board-header .btn-container button {
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.BoardView .board-header .btn-container button:hover {
  background-color: #ddd;
}

.BoardView .info {
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.BoardView .info span {
  padding: 0;
  padding-right: 1rem;
}

.BoardView .info span.info-time {
  color: #999;
}

.board {
  padding: 1rem;
}

.board p {
  width: 100%;
}
