.image-uploader-container {
  display: flex;
  justify-content: space-around;
}

.image-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

.img-preview {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.image-label:hover {
  cursor: pointer;
}

.image-uploader {
  display: none;
}

.plus-button {
  font-size: 60px;
}

.image-desc {
  margin: 12px 0;
  font-weight: bold;
  text-align: center;
}

.syn-button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  background-color: limegreen;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

.image-result-label {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.desc {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}